		<div class="container">


			<%= form_for(@rcadmin_subcategory,:html=>{:class=>"form-horizontal row-border"})  do |f| %>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-orange">
						<div class="panel-heading">
							<h4><%if @rcadmin_subcategory.id.nil? %>Add<%else%>Edit<%end%> Product Type</h4>
							<div class="options">
						
							</div>
						</div><br>
						<%if @rcadmin_subcategory.errors.any? || flash[:errors] %>
						<div class="alert alert-dismissable alert-danger">
							<%if flash[:errors]%>
									<%=flash[:errors]%>
							<%else%>
								<%=@rcadmin_subcategory.errors.full_messages[0] %>
							<%end%>
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						</div>

						<%end%>

						<div class="panel-body">
							<div class="row">
							
								<div class="col-md-12">
							            <!--div class="form-group">
							                <label class="col-sm-3 control-label">Category</label>
							                <div class="col-sm-6">
												<%#= select(:rcadmin_subcategory,:category_id, Rcadmin::Category.all.collect {|c| [ c.name , c.id ] }, {:prompt => "Select Category"},:class => 'form-control') %>
							                </div>
							            </div-->
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Product Type Name</label>
							                <div class="col-sm-6">
												<%= f.text_field :name ,:class=>"form-control",:placeholder=>"Sub Category Name"%>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Status</label>
							                <div class="col-sm-6">
												<%= select(:rcadmin_subcategory, :status, [['Active', 0], ['Inactive', 1]], {}, {:class => 'form-control'}) %>
							                </div>
							            </div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
				      	<div class="row">
				      		<div class="col-sm-6 col-sm-offset-3">
				      			<div class="btn-toolbar">
									<%if @rcadmin_subcategory.id.nil? %>
										<%= f.submit "Add Product Type" ,:class=>"btn-primary btn"%>
									<%else%>
										<%= f.submit "Update Product Type" ,:class=>"btn-primary btn"%>
									<%end%>
									<%=link_to "Back",rcadmin_subcategories_path,:class=>"btn-default btn"%>
				      			</div>
				      		</div>
				      	</div>
				      </div>
					</div>
				</div>
			</div>
		</div>
		<%end%>
