<div class="verticalcenter">
	<a href="index.htm"><%=image_tag('logo-big.png',:alt=>"Logo",:class=>"brand")%></a>
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Forgot your password?</h4>
			   <%= form_for(resource, :as => resource_name, :url => password_path(resource_name),:html=>{:style=>"margin-bottom: 0px !important;"}) do |f| %>
				<%= devise_error_messages! %>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
									<%= f.email_field :email,:class=>"form-control",:placeholder=>"Email" %>
								</div>
							</div>
						</div>
					
		</div>
		<div class="panel-footer">
			<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
			  <%= link_to "Forgot your password?", new_password_path(resource_name) ,:class=>"pull-left btn btn-link",:style=>"padding-left:0"%><br />
			<% end -%>		
			<div class="pull-right">
				<a href="#" class="btn btn-default">Reset</a>
				<%= f.submit "Send me reset password instructions" ,:class=>"btn btn-primary"%>
			</div>
		</div>
		<%end%>
	</div>
 </div>
