		<div id="page-heading">
			<ol class="breadcrumb">
				<li><a href="index.htm">Administrators</a></li>
				<li class="active">New Administrators</li>
			</ol>

			<h1>Add Administrators</h1>
		</div>
		<div class="container">


			<%= form_tag('/rcadmin/administrators',:method => :post,:class=>"form-horizontal row-border") do  %>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-orange">
						<div class="panel-heading">
							<h4>Add Administrators</h4>
							<div class="options">
						
							</div>
						</div><br>
						<%if @administrator.errors.any? %>
						<div class="alert alert-dismissable alert-danger">
								<%=@administrator.errors.full_messages[0] %>.
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							</div>

						<%end%>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Username</label>
							                <div class="col-sm-6">
												<%= text_field_tag :"rcadmin_admin[username]","", :class=>"form-control",:placeholder=>"Username"%>
							                    <!--p style="margin-top:5px; margin-bottom:0;"><buttn class="btn-link">Check Availability</a></p-->
							                </div>
							                <div class="col-sm-3"><p class="help-block">16 characters maximum</p></div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">First Name</label>
							                <div class="col-sm-6">
												<%= text_field_tag "rcadmin_admin[first_name]","", :class=>"form-control",:placeholder=>"Email"%>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Last Name</label>
							                <div class="col-sm-6">
												<%= text_field_tag "rcadmin_admin[last_name]","", :class=>"form-control",:placeholder=>"Email"%>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Email Address</label>
							                <div class="col-sm-6">
												<%= text_field_tag "rcadmin_admin[email]","", :class=>"form-control",:placeholder=>"Email"%>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Password</label>
							                <div class="col-sm-6">
												<%= password_field_tag "rcadmin_admin[password]" , "",:class=>"form-control",:placeholder=>"Password"%>
							                </div>
							                <div class="col-sm-3"><p class="help-block">8 characters minimum</p></div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Confirm Password</label>
							                <div class="col-sm-6">
							                <%= password_field_tag "rcadmin_admin[password_confirmation]","", :class=>"form-control",:placeholder=>"Repet Password" %>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Role</label>
							                <div class="col-sm-6">
												<%= select(:rcadmin_admin, :role, [['Admin', 'admin'], ['Sales Admin', 'sales_admin']], {}, {:class => 'form-control'}) %>
							                </div>
							            </div>

								</div>
							</div>
						</div>
						<div class="panel-footer">
				      	<div class="row">
				      		<div class="col-sm-6 col-sm-offset-3">
				      			<div class="btn-toolbar">
									<%= submit_tag "Add Admin" ,:class=>"btn-primary btn"%>
									<%=link_to "Back","/rcadmin/administrators",:class=>"btn-default btn"%>
				      			</div>
				      		</div>
				      	</div>
				      </div>
					</div>
				</div>
			</div>
		</div>
		<%end%>
