<div class="row-fluid">
	<div class="span12">
	  <h2>Help Faq</h2>
		<div class="accordion" id="accordion2">
		  <% Rcadmin::FaqCategory.all.each_with_index do |faq_cat,index|%>
			<div class="accordion-group">
			  <div class="accordion-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=faq_cat.id%>">
				  <%=faq_cat.name%>
				</a>
			  </div>
			  <div id="collapse<%=faq_cat.id%>" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner">
				<% Rcadmin::Faq.by_category("#{faq_cat.id}").each_with_index do |faq,index|%>
					<b><%=faq.question%></b><br>
					<%=faq.answer%><br><br>
				<%end%>
				</div>
			  </div>
			</div>
		  <%end%>
		</div>
	</div>
</div>





