<div class="container-fluid">
  <div class="row-fluid">
	<div class="span3">
	  <!--Sidebar content-->
	  <h3>Search</h3>
	  <form class="">
		<div class="controls">
		  <input type="text" id="inputEmail" placeholder="Enter Dimensions">
		</div>	
		<div class="controls">
			<%= select(:rcadmin_product,:category_id, Rcadmin::Category.all.collect {|c| [ c.name , c.id ] }, {:prompt => "Select Category"},:class => 'form-control') %>
		</div>
		<div class="controls">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
		</form>		  
	</div>
	<div class="span9">
	  <!--Body content-->
	  <h3>Product Listings</h3>
		<table class="table">
		  <thead>
			<tr>
			  <th>Title</th>
			  <th>Price</th>
			  <!--th>Descriptions</th-->
			  <th>Enter Qty.</th>
			</tr>
		  </thead>
		  <tbody>
		   <% if @all_products.size <= 0 %>
			<tr>
			<td>No Product available</td>
			</tr>
		   <%else%>
		   
			<% @all_products.each_with_index do |product,index|%>
			<input type="hidden" id="oprice<%=product.id%>" value="<%=product.price%>">
			<tr>
			<form action="/mycart" id="cart_frm_<%=product.id%>" method="post">
				<%= token_tag form_authenticity_token %>
				<input type="hidden" name="cart[name]" value="<%=product.name%>">
				<input type="hidden" name="cart[price]" value="<%=product.price%>" id="cprice<%=product.id%>">
				<input type="hidden" name="cart[quantity]" value="1" id="cq<%=product.id%>">
				<td><%=product.name%></td>
				<td id="price<%=product.id%>"><%=product.price%></td>
				<td class="quantity" id="<%=product.id%>">1</td>
				<td><i onClick="$('#cart_frm_<%=product.id%>').submit();" class="fa fa-shopping-cart fa-lg  fa-border" style="cursor:pointer;"></i></td>
			</form>
			</tr>
			<%end%>
			
		   <%end%>
			<!--tr>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td><a style="text-decoration:none;" href=""><i class="fa fa-shopping-cart fa-lg  fa-border"></i></a></td>
			</tr>
			<tr>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td><a style="text-decoration:none;" href=""><i class="fa fa-shopping-cart fa-lg fa-border"></i></a></td>
			</tr>
			<tr>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td>...</td>
			  <td><a style="text-decoration:none;" href=""><i class="fa fa-shopping-cart fa-lg fa-border"></i></a></td>
			</tr-->
		  </tbody>
		</table>

	</div>
  </div>
</div>

