<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <title>Cab Draw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="<%= stylesheet_path('css/reset') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/style') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/responsive') %>" rel="stylesheet" type="text/css" />

  </head>

  <body class="bl">
    <div class="container">
      <header>
        <a href="#" class="logo-gr"><img src="<%= image_path("img/logo2.png") %>"></a>
        <span class="gr">23949 S. Northern Illinois Drive &#9679; Channahon, IL 60410</span>
        <span class="m-l gr">815-467-990 &#9679; Fax 815-467-9985</span>
      </header>
      <section id="contant">
        <h3>VISA - MASTERCARD - DISCOVER - AMERICAN EXPRESS<br>OR DEBIT CARD </h3>
        <span class="ttl">Please use this form to pay accompanying bill with your debit/credit card.  Fill in the information
          requested, sign where indicated and return to our office.  Thank you.           
        </span>
        <div class="text">
          <div class="sm-p" style="width:99%;"><p><span>NAME:</span><%= @customer.fullname %></p></div>
          <div class="sm-p" style="width:64%;"><p><span>CARDHOLDER NAME:</span></p></div>
          <div class="sm-p" style="width:35%;"><p><span>CARD ZIPCODE:</span></p></div>
          <div class="sm-p" style="width:99%;"><p><span>ACCOUNT NUMBER:</span></p></div>
          <div class="sm-p" style="width:40%;"><p><span>EXPIRATION DATE:</span></p></div>
          <div class="sm-p" style="width:59%;"><p><span>STREET ADDRESS:</span><%= @customer.full_address %></p></div>
          <div class="sm-p" style="width:35%;"><p><span>CARD TYPE: VISA:</span></p></div>
          <div class="sm-p" style="width:21%;"><p><span>MC:</span></p></div>
          <div class="sm-p" style="width:21%;"><p><span>DISCOVER:</span></p></div>
          <div class="sm-p" style="width:21%;"><p><span>AMEX:</span></p></div>
          <div class="sm-p" style="width:69%;"><p><span>AUTHORIZED SIGNATURE:</span></p></div>
          <div class="sm-p" style="width:30%;"><p><span>DATE:</span><%= Date.today.strftime("%d.%m.%Y") %></p></div>
        </div>
      </section>
    </div>
  </body>
</html>
