<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <title>Cab Draw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="<%= stylesheet_path('css/reset') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/style') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/responsive') %>" rel="stylesheet" type="text/css" />

  </head>

  <body class="bl">
    <div class="container">
    <button onclick="window.print()" class="hidden-print" style="position:relative;left: 40%;font-size:24px">Print</button>
      <header>
        <a href="#" class="logo-bl"><img src="<%= image_path("img/logo-black.png") %>"></a>
        <span>23949 S. Northern Illinois Drive &#9679; Channahon, IL 60410</span>
        <span class="pull-right">815-467-990 &#9679; Fax 815-467-9985</span>
      </header>
      <section id="contant">
        <h4>CHANGE ORDER</h4>
        <div class="text">
          <div class="half"><p><span>CONTRACTOR:</span> <%= @contractor.fullname %></p></div>
          <div class="half-r pull-right"><p><span>DATE:</span><%= Date.today.strftime("%d.%m.%Y") %></p></div>
          <div class="half"><p><span>JOB TITLE:</span> </p></div>
          <div class="half-r pull-right"><p><span>TURN IN DATE:</span><%= @quote.updated_at.strftime("%d.%m.%Y") %></p></div>
          <div class="half"><p><span>TELEPHONE:</span> <%= @contractor.phone %></p></div>
          <div class="half-r pull-right"><p><span>SALES PERSON:</span><%= current_user.full_name %></p></div>
          <div class="half"><p><span>ORDER NO.:</span> <%= @quote.id %></p></div>
          <p class="m-top"><span>CHANGE ORDERED BY:</span><%= current_user.full_name %></p>
          <p class="m-top"><span>REASON FOR CHANGE</span></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p class="m-top"><span>DESCRIPTION OF CHANGE</span></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <span class="cont"><b>COST OF CHANGES:</b> On all changes charges for the change must immediately be crossed over into the Billing Sheet</span>
        <div class="text m-top">
          <div class="half"><p><span>CHANGE COST: &nbsp; &nbsp; $</span> </p></div>
          <div class="half-r pull-right"><span class="cont">NOTE: Copy of Change Order will be mailed with billing at all times</span></div>       
          <div class="half"><p><span>ORIGINAL TOTAL: &nbsp;$</span> </p></div>
          <div class="half-r pull-right"><span class="cont">&nbsp;</span></div> 
          <div class="half"><p><span>NEW TOTAL:&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; $</span> </p></div>  
          <div class="half-r pull-right"><span class="cont">&nbsp;</span></div>         
        </div>
        <div class="text m-top m-bott">
          <div class="half"><p><span>COSTUMERS SIGNATURE:</span> </p></div>
          <div class="half-r pull-right"><p><span>PREPARER'S SEGNATURE:</span> </p></div>        
        </div>
      </section>
    </div>
  </body>
</html> 
