<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <title>Cab Draw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="<%= stylesheet_path('css/reset') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/style') %>" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_path('css/responsive') %>" rel="stylesheet" type="text/css" />

  </head>

  <body class="bl">
    <div class="container">
      <header>
        <a href="#" class="logo-gr br-gr"><img src="<%= image_path("img/logo2.png") %>"></a>
        <span class="gr">23949 S. Northern Illinois Drive &#9679; Channahon, IL 60410</span>
        <span class="gr pull-right">815-467-990 &#9679; Fax 815-467-9985</span>
      </header>
      <section id="contant">
        <h4>Agreement to Purchase</h4>
        <div class="sm-p n-b" style="width:33%;"><p><span>SUBMITTED TO:</span><%= @contractor.fullname %></p></div>
        <div class="sm-p n-b" style="width:33%;"><p><span>PHONE:</span><%= @customer.phone %></p></div>
        <div class="sm-p n-b" style="width:33%;"><p><span>DATE:</span><%= Date.today.strftime("%d.%m.%Y") %></p></div>
        <div class="sm-p n-b" style="width:33%;"><p><span>ADDRESS:</span><%= @customer.address %></p></div>
        <div class="sm-p n-b" style="width:33%;"><p><span>JOB NAME:</span></p></div>
        <div class="sm-p n-b" style="width:33%;"><p><span>PROPOSAL:</span></p></div>
        <div class="sm-p n-b" style="width:33%;"><p><span>CITY, STATE, ZIP CODE:</span><%= "#{@customer.city}, #{@customer.state}, #{@customer.zip}" %></p></div>
        <div class="sm-p n-b" style="width:33%;"><p><span>JOB LOCATION</span><%= @customer.full_address %></p></div>

        <div class="text">
          <b>Agreement to purchase per attached proposal</b>
          <div class="sm-p n-b" style="width:65%;"><p><span>Total Job Cost:</span>750</p></div>
          <div class="sm-p n-b" style="width:34%;"><p><span>dollars</span>($1500)</p></div>
          <div class="sm-p n-b" style="width:99%;"><p><span>Payment Terms:</span>in the envelope</p></div>
          <span class="cont">TERMS:ROMAR hereby Contracts to furnish material and manufacturing labor in accordance with the above estimate. Dimensions of tops and cabinets given herein above are maximum dimensions for which ROMAR CABINET AND TOP COMPANY, INC.  will be responsible to maintain the above estimated prices for 30 days.  Installation is not included unless otherwise stated in writing by ROMAR. Claims for goods damaged upon delivery must be made immediately to ROMAR delivery personnel prior to their departure from the delivery site.  All Accounts Over 30 Days Are Subject to a Late Charge of 1.5% Per Month. Purchaser agrees to pay ROMAR all costs incurred by ROMAR to enforce this Agreement including reasonable attorneys' fees. In the event the Purchaser is the homeowner and signs this Agreement in their residence AND in the presence of a ROMAR employee, the homeowner has 3 business days to rescind this Agreement in writing to ROMAR after which this Agreement becomes binding.  Otherwise, this Agreement is binding upon execution by Purchaser and ROMAR.  ALL SALES ARE FINAL. NO RETURNS WILL BE ACCEPTED WITHOUT WRITTEN  AUTHORIZATION</span>
          <b>YOUR SIGNATURE BELOW INDICATES YOUR AGREEMENT WITH TERMS AND CONDITIONS OF SALE AS DESCRIBED HEREIN. KINDLY SIGN BELOW AND RETURN THE ORIGINAL DOCUMENT TO ROMAR CABINET AND TOP CO.</b>
          <div class="sm-p n-b" style="width:50%;"><p><span>DATE ACCEPTED </span></p></div>
          <div class="sm-p n-b" style="width:49%;"><p><span> DATE ACCEPTED </span></p></div>
          <div class="sm-p" style="width:50%;"><p><span>BY PURCHASER:</span>12.02.2014</p></div>
          <div class="sm-p" style="width:49%;"><p><span>BY ROMAR:</span>12.02.2014</p></div>
          <div class="sm-p n-b" style="width:50%;"><p><span>PURCHASER:</span>TYURIN</p></div>
          <div class="sm-p n-b" style="width:49%;"><p><span>OMAR CABINET and TOP COMPANY, INC.:</span>Alexandr</p></div>
          <div class="sm-p" style="width:50%;"><p><span>BY:</span>Vestibulum ac </p></div>
          <div class="sm-p" style="width:49%;"><p><span>BY:</span>Vestibulum ac </p></div>
          <div class="sm-p" style="width:50%;"><p><span>TITLE:</span>ligula eget hendrerit </p></div>
          <div class="sm-p" style="width:49%;"><p><span>TITLE:</span>ligula eget hendrerit </p></div>
        </div>
      </section>
    </div>
  </body>
</html>
