    <%= form_tag("resend_quote", method: "post", :id=>"send_quote_frm") do %>
    <input type="hidden" name="quote_id" value="<%=@quote_id%>">
    <input type="hidden" name="customer_id" value="<%=@customer_id%>">
  <div id="subtabs" class="tabs-bottom">
    <div>
      <ul class="tabs">
        <% @categories.each_with_index do |cat, index|%>
          <li class=""><a href="#subtabs-<%= index %>"><%= cat.name %></a></li>
        <% end %>
      </ul>
    </div>
   <a href="javascript:void(0)" class="expand">Expand All</a><br>
    <% if @categories.size > 0 %>
      <% @categories.each_with_index do |cat,index|%>
        <div id="subtabs-<%=index%>" >
          <div id="accordion" class="accordion">
            <% @subcategories = Rcadmin::Subcategory.all %>
            <% if @subcategories.size > 0 %>
              <% @subcategories.each_with_index do |subcat, index|%>
                <h3><%= subcat.name %></h3>
                <div>
                  <% @products = Rcadmin::Product.where(subcategory_id: subcat.id) %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Enter Qty.</th>
                        <th></th>
                        <th>Title</th>
                        <th>Price per unit</th>
                        <th>Measure Type</th>
                        <th>Total Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if @products.size <= 0 %>
                        <tr>
                          <td>No Product available</td>
                        </tr>
                      <% else %>

                        <% @products.each_with_index do |product, index|%>
			<%@exist_quota_category_ids = Rcadmin::QuoteProduct.where(product_id: product.id,quote_id: @quote_id,category_id: cat.id).pluck(:category_id)%>
			  <input type="hidden" id="oprice<%= cat.id %><%= product.id %>" value="<%= product.price %>">
			     <%if  @exist_quota_product_ids && @exist_quota_product_ids.include?(product.id) && @exist_quota_category_ids.include?(cat.id)%>
			     <%@exist_quota_product = Rcadmin::QuoteProduct.where(product_id: product.id,quote_id: @quote_id,category_id: cat.id).first%>
				<tr>
				  <td><input type="text" name="quantity[<%= cat.id %>][<%= product.id %>]" id="<%= cat.id %><%= product.id %>" style="width: 30px;" value="<%=@exist_quota_product.quantity%>" class="quantity1" onkeypress="return isNumber(event)"></td>
				  <td><input type="checkbox" name="product[<%= cat.id %>][<%= product.id %>]" value="" class="chkpro" id="chk<%= cat.id %><%= product.id %>" checked="checked"></td>
				  <td><%= product.title %></td>
				  <td id="price">$<%= product.price %></td>
				  <td id="measure"><%= product.measurement_type %></td>
				  <input type="hidden" name="tot_price[<%= cat.id %>][<%= product.id %>]" id="tprice<%= cat.id %><%= product.id %>" value="<%=@exist_quota_product.total_price%>">
				  <td >$ <span id="price<%= cat.id %><%= product.id %>"><%=@exist_quota_product.total_price%></span><%#=product.price%></td>
				</tr>
			     <%else%>
				<tr>
				  <td><input type="text" name="quantity[<%= cat.id %>][<%= product.id %>]" id="<%= cat.id %><%= product.id %>" style="width: 30px;" value="" class="quantity1" onkeypress="return isNumber(event)"></td>
				  <td><input type="checkbox" name="product[<%= cat.id %>][<%= product.id %>]" value="" class="chkpro" id="chk<%= cat.id %><%= product.id %>"></td>
				  <td><%= product.title %></td>
				  <td id="price">$<%= product.price %></td>
				  <td id="measure"><%= product.measurement_type %></td>
				  <input type="hidden" name="tot_price[<%= cat.id %>][<%= product.id %>]" id="tprice<%= cat.id %><%= product.id %>" value="">
				  <td >$ <span id="price<%= cat.id %><%= product.id %>">0.00</span><%#=product.price%></td>
				</tr>
			    <%end%>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% else %>
              <p>No product Available<p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No product Available<p>
            <% end %>
          </div>
          <%= render 'extra_info' %>
        <% end %>



        <script>
          $(function() {

            // fix the classes
            $( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
            .removeClass( "ui-corner-all ui-corner-top" )
            .addClass( "ui-corner-bottom" );

            // move the nav to the bottom
            $( ".tabs-bottom .ui-tabs-nav" ).appendTo( ".tabs-bottom" );
          });
        </script>
        <style>
          /* force a height so the tabs don't jump as content height changes */
        #subtabs .tabs-spacer { float: left; height: 200px; }
        .tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
        .tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
        .tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
        .tab-sec-last{bottom: 46px;position: absolute;width: 99.5%;}
        </style>
<script>
$(document).ready(function() {
 // $('#tabs input[type=checkbox]').prop('checked',false);
 // $('#tabs input[type=text]').attr('disabled',false);
 
});
</script>

