<div class="container">
<div id="formchng">
<%= form_for(@quote,:url => {:action=>"save_customer_deatils"},:html=>{:class=>"form-horizontal row-border"})  do |f| %>
  <%= f.hidden_field :act ,:value=>"exist",:class=>"form-control",:id=>"act"%>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-orange">
	<div class="panel-heading">
	  <h4>Select Contractor</h4>
	  <div class="options">
	  </div>
	</div><br>
	<%if @quote.errors.any? %>
	  <div class="alert alert-dismissable alert-danger">
	    <%=@quote.errors.full_messages[0] %>.
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  </div>
	<%end%>
	<div class="panel-body">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group" id="exist_cont">
		<label class="col-sm-3 control-label">Select Contractor</label>
		<div class="col-sm-6">
		  <%= select(:rcadmin_quote,:contractor_id, Rcadmin::Contractor.find_by_adminid("#{current_user.id}").collect {|c| [ c.company_name, c.id ] }, {:prompt => "Select Contractor"},:class => 'form-control',:onchange=>"console.log(this.value);get_customer(this.value)") %>
		</div>
	      </div>
	      <span id="part_cust"></span>
	      <br>
	      <span ><%=link_to "Add Customer","javascript:void(0)",:id=>"new_customer"%></span>
	      
	      <%= f.hidden_field :admin_id ,:value=>"#{current_user.id}",:class=>"form-control",:placeholder=>"Phone Number"%>
	    </div>
	  </div>
	</div>
	<div class="panel-footer">
	  <div class="row">
	    <div class="col-sm-6 col-sm-offset-3">
	      <div class="btn-toolbar">
		<%= f.submit "Next step" ,:class=>"btn-primary btn"%>
		  <%#=link_to "Back",rcadmin_customers_path,:class=>"btn-default btn"%>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
<%end%>
</div>
