<div class="container">
<div id="formchng">
<%= form_for(@quote,:url => {:action=>"save_customer_deatils"},:html=>{:class=>"form-horizontal row-border"})  do |f| %>
  <%= f.hidden_field :act ,:value=>"exist",:class=>"form-control",:id=>"act"%>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-orange">
	<div class="panel-heading">
	  <h4>Select Contractor</h4>
	  <div class="options">
	  </div>
	</div><br>

        <% if notice %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= notice %>
          </div>
        <% end %>

	<%if @quote.errors.any? %>
	  <div class="alert alert-dismissable alert-danger">
	    <%=@quote.errors.full_messages[0] %>.
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  </div>
	<%end%>
	<div class="panel-body">
	  <div class="row">
	    <div class="col-md-12">
	      <div class="form-group" id="exist_cont">
		<label class="col-sm-3 control-label">Select Contractor</label>
		<div class="col-sm-6">
		  <%= select(:rcadmin_quote,:contractor_id, contractor_list, {selected: params[:contractor_id], :prompt => "Select Contractor"},:class => 'form-control',:onchange=>"get_customer(this.value)") %>
		</div>
	      </div>
	      <span id="part_cust"></span>
	      <br>
	      
	      <%= f.hidden_field :admin_id ,:value=>"#{current_user.id}",:class=>"form-control",:placeholder=>"Phone Number"%>
	    </div>
	  </div>
	</div>
	<div class="panel-footer">
	  <div class="row">
	    <div class="col-sm-6 col-sm-offset-3">
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
<%end%>
</div>
<% if params[:contractor_id] %>
    <script type="text/javascript">
      $(function() {
        $('#rcadmin_quote_contractor_id').trigger('change');
      });
    </script>
<% end %>
