<!-- Modal -->
<div id="sending"></div>

<div class="modal fade live-data" id="live-data">
  <div class="modal-dialog" style="width: 100%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <% base_products = Rcadmin::Product.base_products.limit(6).to_a %>
      <div class="modal-body">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="editable">
          <thead>
            <tr>
              <% base_products.each do |product| %>
                <th><%= product.title %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% categories = current_admin.categories %>
            <% 1.upto(15).each do |n| %>
              <tr class="odd gradeX">
                <% base_products.each do |product| %>
                  <td class="editable" data-id="<%= "#{product.subcategory_id}#{product.id}" %>" data-product-id="<%= product.id %>"></td>
                <% end %>
              </tr>
            <% end %>
            <tr class="even">
              <% base_products.each do |product| %>
                <td class="total" data-id="<%= "#{product.subcategory_id}#{product.id}" %>" data-product-id="<%= product.id %>"></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-product-quantity">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Cover Sheet</h2>
      </div>
      <div class="modal-body">
        <div id="err_msg"></div>

        <div class="rooms">
        </div>

        <div class="row" id="quoter">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cabinet</td>
                  <td class="cabinet-total"></td>
                </tr>
                <tr>
                  <td>Laminate tops</td>
                  <td class="laminate-tops-total"></td>
                </tr>
                <tr>
                  <td>Product total</td>
                  <td class="product-total"></td>
                </tr>
                <tr>
                  <td><span class="quote-percentage"><%= @quote.percentage %></span>%</td>
                  <td class="percentage-total"></td>
                </tr>
                <tr>
                  <td>Factor(<span class="quote-factor"><%= @quote.factor %></span>)</td>
                  <td >
                    <input type=text" value="<%= @quote.factor || 1.0 %>" name="quote[miscs][factor]" class="factor-total form-control" />
                  <span class="factor-calculated-value"><%= @quote.factor_value %></span>
                  </td>
                </tr>
                <tr>
                  <td>Corian</td>
                  <td><input type="text" class="corian-total form-control" value="0.0" name="quote[miscs][corian]"/></td>
                </tr>
                <tr class="misc-td">
                  <td>MISC</td>
                  <td class="misc-total"></td>
                </tr>
                <tr>
                  <td>Misc Item</td>
                  <td>
                    <input type="text" value="" placeholder="Enter field name" class="misc-field-name form-control" />
                    <a href="#" class="create-field">Create</a>
                  </td>
                </tr>
                <tr>
                  <td>Pre Tax</td>
                  <td class="pre-tax-total"></td>
                </tr>
                <tr>
                  <td>Tax <span class="quote-tax-percentage"><%= @quote.tax_percentage %></span>%</td>
                  <td class="tax-total"></td>
                </tr>
                <tr>
                  <td>Subtotal</td>
                  <td class="subtotal-total"></td>
                </tr>
                <tr>
                  <td>Labor</td>
                  <td><input type="text" class="labor-total form-control" name="quote[miscs][labor]"/></td>
                </tr>
                <tr>
                  <td>Delivery</td>
                  <td class="delivery-total"></td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="grand-total"></td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>

        <h2> Additional Information </h2>

        <div class="row">
          <label class="col-sm-3 control-label">Sales Closing Potential</label>
          <div class="col-sm-6">
            <%= select(:quote, :sales_closing_potential, Rcadmin::Quote::RATING.my_hash.invert, {selected: 3}, {:class => 'form-control'}) %>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-3 control-label">Expected Target Delivery Date</label>
          <div class="col-sm-6">
            <%= text_field_tag "quote[delivery_date]", "" ,:class=>"form-control",:placeholder=>"Select Date"%>
          </div>
        </div>

        <div class="row">

          <label class="col-sm-3 control-label">Notes</label>

          <div class="col-sm-6">
            <%= text_area_tag "quote[notes]", "" ,:class=>"form-control",:placeholder=>"Your notes"%>
          </div>
        </div>


      </div>


      <div style="clear:both"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="send_quote">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Info</h4>
      </div>
      <div class="modal-body">
        <p>Please select atleast one product.</p>
      </div>
      <div style="clear:both"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">You have successfully sent your quote to Admin</h4>
      </div>
      <div class="modal-body">
        <a href="/rcadmin/createquote"><strong>Create Quote</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/rcadmin/display_quotes?id=<%=@quote.contractor_id%>"><strong>Review all past quotes</strong> </a>
      </div>
      <div style="clear:both"></div>
      <!--div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
      </div-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModalsend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div style="text-align:center;"><%=image_tag('sending.gif')%></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModalconfirmsend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 700px;">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">Confirm your Quote</h4>
      </div>
      <div class="modal-body">
        <div class="quote-preview"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Edit Quote</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" id="preview_quote">preview mail</button>
        <button type="button" class="btn btn-primary" id="confirm_send_quote">Confirm & Send</button>
        <button type="button" class="btn btn-primary" id="save-draft">Save Draft</button>
      </div>
      <div style="clear:both"></div>
      <!--div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
      </div-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="preview_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
        <h4 class="modal-title">Confirm your Quote</h4>
      </div>
      <div class="modal-body">
        <div class="quote-preview"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Edit Quote</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" id="preview_quote">preview mail</button>
        <button type="button" class="btn btn-primary" id="confirm_send_quote">Confirm & Send</button>
      </div>
      <div style="clear:both"></div>
      <!--div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
      </div-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
