<tr>
  <% quote_product_attr = lambda { |attr| "quote[quote_products_attributes[#{cat.id}#{product.id}#{product.object_id}][#{attr}]" } %>
  <input type="hidden" name="<%= quote_product_attr.call(:category_id) %>" value="<%= cat.id %>" />
  <input type="hidden" name="<%= quote_product_attr.call(:product_type) %>" value="<%= product.class.name %>" />
  <input type="hidden" name="<%= quote_product_attr.call(:product_id) %>" value="<%= product.id %>" />
  <td><input type="text" name="<%= quote_product_attr.call(:quantity) %>" id="<%= "#{cat.id}#{product.id}" %>" style="width: 30px;" value="" class="quantity" onkeypress="return isNumber(event)"></td>
  <td></td>
  <td><%= product.title %></td>
  <td id="price">$<span class="price"><%= product.price %></span></td>
  <td id="measure"><%= product.measurement_type %></td>
  <input type="hidden" name="<%= quote_product_attr.call(:total_price) %>" class="total-price-field" value="">
  <td >$ <span class="total-price-text">0.00</span></td>
  <td><input class="option-product" type="checkbox" name="<%= quote_product_attr.call(:header_option) %>" value="Yes" ></td>
  <td><input class="hide-product" type="checkbox" name="<%= quote_product_attr.call(:hidden) %>"></td>
</tr>
