<% quote_product = @quote.quote_products.detect { |qp| qp.product_id == product.id && qp.category_id == cat.id } %>
<tr data-is-edit="<%= !!quote_product %>">
  <% quote_product_attr = lambda { |attr| "quote[quote_products_attributes[#{cat.id}#{product.id}#{product.object_id}][#{attr}]" } %>
  <% quote_product_attr_id = lambda { "quote[quote_products_attributes[#{cat.id}#{product.id}#{product.object_id}]" } %>

  <input type="hidden" name = "quote_product_attr_id" value= "<%=quote_product_attr_id.call%>" />
  <input type="hidden" name = "qp_id" value= "<%= quote_product.try(:id)%>" />
  <input type="hidden" data-name="<%= quote_product_attr.call(:category_id) %>" value="<%= cat.id %>" />
  <input type="hidden" data-name="<%= quote_product_attr.call(:product_type) %>" value="<%= product.class.name %>" />
  <input type="hidden" data-name="<%= quote_product_attr.call(:product_id) %>" value="<%= product.id %>" />
  <td>
    <input type="text" data-name="<%= quote_product_attr.call(:quantity) %>" 
    id="<%= "#{cat.id}#{product.id}" %>" style="width: 50px;" value="<%= quote_product.try(:quantity) %>" 
    class="quantity <%= "#{product.type} #{product_type}" %> <%= 'selected' if quote_product %>" 
    data-measurement="<%= product.measurement_type %>" onkeypress="return isNumber(event)"></td>
  <td></td>
  <td class="title"><%= product.title %></td>
  <td id="price">$<span class="price"><%= product.price %></span></td>
  <td id="measure"><%= product.measurement_type %></td>
  <input type="hidden" data-name="<%= quote_product_attr.call(:total_price) %>" class="total-price-field" value="">
  <% check = quote_product && quote_product.hidden? == true || quote_product.nil?%>
  <td > <span class = "toggle_total_price" style = "display: <%= check ? "none" : "block" %>">$ <span class="total-price-text" >0.00</span></span></td>
  <td>
    <input class="option-product" type="checkbox" 
    data-checked="<%= check = !!quote_product.try(:has_option?) %>"  <%= 'checked=checked' if check %> 
    data-name="<%= quote_product_attr.call(:header_option) %>" value="Yes" >
  </td>
  <td>
    <input type="hidden" data-name="<%= quote_product_attr.call(:hidden) %>" value="false" />
    <input class="hide-product" type="checkbox" data-checked="<%= check = quote_product && quote_product.hidden? == true || quote_product.nil?%>" <%= 'checked=checked' if check %>
    data-name="<%= quote_product_attr.call(:hidden) %>"></td>
</tr>
