<h1>OPTIONS</h1>
<% shipping = 0.0 %>
<% @quote.quote_categories.select{|i| i.options_product_total > 0.0}.each do |quote_category| %>
  <% category = quote_category.category %>
  <h2><%= category %></h2>
  <div class="row quote-categories <%= category.dom_class %>" data-category-class=" <%= category.dom_class %>">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Product title</th>
            <th>Product total</th>
          </tr>
        </thead>
        <tbody>
          <% quote_category.quote_products.options.includes(:product).each do |quote_product| %>
            <tr>
              <td><%= quote_product.product %></td>
              <td>$<%= '%.2f' % quote_product.options_total_price %></td>
            </tr>
          <% end %>
          <tr>
            <td>Total Price </td>
            <td class="options-product-total" data-options-product-total="<%= quote_category.options_product_total %>">
               $ <span class="options-grand-total"><%= '%.2f' % shipping += quote_category.options_grand_total %></span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
<% end %>
