<style>
  .someclass {
    background: url('<%= image_path('delete.png') %>');
    width: 14px;
    height: 14px;
    position: relative;
    left: 85%;
    top: -20%;
    display: block;
  }

  span.search-controls {
    position: fixed;
    top: 0;
    left: 45%;
    z-index: 100000;
    display: none;
  }

  .overlay-active {
    background: #000000 url("<%= image_path("sending.gif") %>") no-repeat center center;
    display: block !important;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }

</style>

<div class="overlay-active overlay" data-selected-rooms-ids="<%= @quote.quote_products.pluck(:category_id).uniq %>"></div>

<span class="search-controls">
  <button class="btn search-prev">Prev</button>
  <button class="btn search-next">Next</button>
  <button class="btn search-cancel">Cancel</button>
</span>

<%= content_tag :h1, (@quote.customer.job_title.presence || @quote.contractor.fullname), class: 'text-center'  %>

<%= render 'search_product' %>

<%= form_tag("send_quote", method: "post", :id=>"send_quote_frm") do %>


  <div class="tab-content">
    <% @categories.each_with_index do |room, index|%>
      <%= content_tag :div, class: 'tab-pane', id: "room-#{room.id}" do %>
      <% end %>
    <% end %>
  </div>

  <ul class="nav nav-pills">
    <% @categories.each_with_index do |room, index|%>
      <li class="delete-tab">
        <%= link_to room.name, "#room-#{room.id}", class: 'room-product-tab', data: {toggle: 'tab', room_id: room.id, quote_id: @quote.id} %>
        <%= content_tag :span, "", data: { url: rcadmin_remove_quote_category_path(@quote, room) } %>
      </li>
    <% end %>
  </ul>
  <%= render 'extra_info' %>
<% end %>

<%= render 'rcadmin/quote/new_misc_product' %>



<script>
  $(function() {

    // fix the classes
    $( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
    .removeClass( "ui-corner-all ui-corner-top" )
    .addClass( "ui-corner-bottom" );

    // move the nav to the bottom
    $( ".tabs-bottom .ui-tabs-nav" ).appendTo( ".tabs-bottom" );
  });
</script>
<style>
  /* force a height so the tabs don't jump as content height changes */
.subtabs .tabs-spacer { float: left; height: 200px; }
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
.tab-sec-last{bottom: 46px;position: absolute;width: 99.5%;}
.accordion .ui-accordion-content{height:auto !important;}
</style>
<script>
  $(document).ready(function() {
    // $('#tabs input[type=checkbox]').prop('checked',false);
    // $('#tabs input[type=text]').attr('disabled',false);

    $.ajaxSetup({
      beforeSend: function(jqXHR) {
        jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      }
    });

    $('[data-is-edit=true]').find('.quantity').trigger('keyup');


    $(document).on('click', '.someclass', function(evt) {
      evt.preventDefault();
      var $self = $(this);
      var isRejected = !confirm('Are you sure you want to delete this room from your quote?');
      if(isRejected) {
        return false;
      }
      var data = $(this).data();
      var url = data.url;
      $.ajax(url, { dataType: 'json', type: 'PUT'}).success(function(data) {
        if(data.count === 0)
          window.location.href = '/rcadmin/quote/category';
        else 
          removeTab($self);
      });
    });

    $('.delete-tab').hover(function() {
      $(this).find('span').addClass('someclass');
    }, function() {
      $(this).find('span').removeClass('someclass');
    });

    function removeTab($tab) {
      var tabId = $tab.siblings('a').attr('href');
      $(tabId).remove();
      $tab.parents('li').remove();
      $('.delete-tab a').first().click();
      $("#total_price").text(total_price_calculator());
    }

  });
</script>

