  <%= form_tag("send_quote", method: "post", :id=>"send_quote_frm") do %>
  <div id="subtabs" class="tabs-bottom">
    <div>
      <ul class="tabs">
        <% @categories.each_with_index do |cat, index|%>
          <li class=""><a href="#subtabs-<%= index %>"><%= cat.name %></a></li>
        <% end %>
      </ul>
    </div>
   <a href="#" class="expand">Exapnd All</a>
    <% if @categories.size > 0 %>
      <% @categories.each_with_index do |cat,index|%>
        <div id="subtabs-<%=index%>" >
          <div id="accordion" class="accordion">
            <% @subcategories = cat.subcategories %>
            <% if @subcategories.size > 0 %>
              <% @subcategories.each_with_index do |subcat, index|%>
                <h3><%= subcat.name %></h3>
                <div>
                  <% @products = subcat.products %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Enter Qty.</th>
                        <th></th>
                        <th>Title</th>
                        <th>Price per unit</th>
                        <th>Measure Type</th>
                        <th>Total Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if @products.size <= 0 %>
                        <tr>
                          <td>No Product available</td>
                        </tr>
                      <% else %>

                        <% @products.each_with_index do |product, index|%>
			  <input type="hidden" id="oprice<%= product.id %>" value="<%= product.price %>">
			    <tr>
			      <td><input type="text" name="quantity[<%= product.id %>]" id="<%= product.id %>" style="width: 30px;" value="0" class="quantity1" onkeypress="return isNumber(event)"></td>
			      <td><input type="checkbox" name="product[<%= product.id %>]" value="" class="chkpro" id="chk<%= product.id %>"></td>
			      <td><%= product.title %></td>
			      <td id="price">$<%= product.price %></td>
			      <td id="measure"><%= product.measurement_type %></td>
			      <input type="hidden" name="tot_price[<%= product.id %>]" id="tprice<%= product.id %>" value="">
			      <td >$ <span id="price<%= product.id %>">0.00</span><%#=product.price%></td>
			    </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% else %>
              <p>No product Available<p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No product Available<p>
            <% end %>
          </div>
          <%= render 'extra_info' %>
        <% end %>



        <script>
          $(function() {

            // fix the classes
            $( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
            .removeClass( "ui-corner-all ui-corner-top" )
            .addClass( "ui-corner-bottom" );

            // move the nav to the bottom
            $( ".tabs-bottom .ui-tabs-nav" ).appendTo( ".tabs-bottom" );
          });
        </script>
        <style>
          /* force a height so the tabs don't jump as content height changes */
        #subtabs .tabs-spacer { float: left; height: 200px; }
        .tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
        .tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
        .tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
        .tab-sec-last{bottom: 46px;position: absolute;width: 99.5%;}
        </style>
<script>
$(document).ready(function() {
  $('#tabs input[type=checkbox]').prop('checked',false);
  $('#tabs input[type=text]').attr('disabled',false);
  $('.quantity1').val(0);
});
</script>

