<style>
  .someclass {
    background: url('<%= image_path('delete.png') %>');
    width: 14px;
    height: 14px;
    position: relative;
    left: 85%;
    top: -20%;
    display: block;
  }
</style>
<%= render 'search_product' %>
<%= form_tag("send_quote", method: "post", :id=>"send_quote_frm") do %>
  <div id="subtabs" class="tabs-bottom">
    <div>
      <ul class="tabs">
        <% @subcategories = Rcadmin::Subcategory.includes(:products).to_a %>
        <% @categories.each_with_index do |cat, index|%>
          <li class="delete-tab">
            <a href="#subtabs-<%= index %>"><%= cat.name %></a>
            <%= content_tag :span, "", data: { url: rcadmin_remove_quote_category_path(@quote, cat) } %>
          </li>
        <% end %>
      </ul>
    </div>
    <a href="javascript:void(0)" class="expand">Expand All</a><br>
    <% if @categories.length > 0 %>
      <% @quote.quote_categories.includes(:category).each_with_index do |quote_category, index|%>
        <% cat = quote_category.category %>
        <div id="subtabs-<%=index%>" >
        <a href="#" data-id="<%= cat.id %>"  data-toggle="modal" data-target="#live-data">Base Calculator</a>
        <input type="text" name="quote[quote_categories_attributes][<%= index %>][markup]" value="" placeholder="Margin Percentage" data-inputmask="'mask':'99.9'" class="markup-factor mask" data-category-id="<%= cat.id %>" />
        <input type="hidden" name="quote[quote_categories_attributes][<%= index %>][id]" value="<%= quote_category.id %>" />
          <div id="accordion" class="accordion">
            <h3>MISCS</h3>
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Enter Qty.</th>
                    <th></th>
                    <th>Title</th>
                    <th>Price per unit</th>
                    <th>Measure Type</th>
                    <th>Total Price</th>
                    <th>Option</th>
                    <th>Hide</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <% if @subcategories.size > 0 %>
              <% @subcategories.each_with_index do |subcat, index|%>
                <h3><%= subcat.name %></h3>
                <div>
                  <% @products = subcat.products %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Enter Qty.</th>
                        <th></th>
                        <th>Title</th>
                        <th>Price per unit</th>
                        <th>Measure Type</th>
                        <th>Total Price</th>
                        <th>Option</th>
                        <th>Hide</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if @products.size <= 0 %>
                        <tr>
                          <td>No Product available</td>
                        </tr>
                      <% else %>

                        <% @products.each_with_index do |product, index|%>
                          <input type="hidden" id="oprice<%= cat.id %><%= product.id %>" value="<%= product.price %>">
                          <tr class="quote-product">
                            <td><input type="text" name="quantity[<%= cat.id %>][<%= product.id %>]" id="<%= "#{cat.id}#{product.id}" %>" style="width: 30px;" value="" class="quantity1 <%= "#{cat.id}#{product.id}" %>" onkeypress="return isNumber(event)"></td>
                            <td><input type="checkbox" name="product[<%= cat.id %>][<%= product.id %>]" value="" class="chkpro" id="chk<%= cat.id %><%= product.id %>"></td>
                            <td><%= product.title %></td>
                            <td id="price">$<%= product.price %></td>
                            <td id="measure"><%= product.measurement_type %></td>
                            <input type="hidden" name="tot_price[<%= cat.id %>][<%= product.id %>]" id="tprice<%= cat.id %><%= product.id %>" value="">
                            <td >$ <span id="price<%= cat.id %><%= product.id %>">0.00</span><%#=product.price%></td>
                            <td><input class="option-product" type="checkbox" name="header_option[<%= cat.id %>][<%= product.id %>]" value="Yes" ></td>
                            <td><input class="hide-product" type="checkbox" name="hidden[<%= cat.id %>][<%= product.id %>]"></td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% else %>
              <p>No product Available<p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No product Available<p>
            <% end %>
          </div>
          <%= render 'extra_info' %>
        <% end %>



        <script>
          $(function() {

            // fix the classes
            $( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
            .removeClass( "ui-corner-all ui-corner-top" )
            .addClass( "ui-corner-bottom" );

            // move the nav to the bottom
            $( ".tabs-bottom .ui-tabs-nav" ).appendTo( ".tabs-bottom" );
          });
        </script>
        <style>
          /* force a height so the tabs don't jump as content height changes */
        #subtabs .tabs-spacer { float: left; height: 200px; }
        .tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
        .tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
        .tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
        .tab-sec-last{bottom: 46px;position: absolute;width: 99.5%;}
        .accordion .ui-accordion-content{height:auto !important;}
        </style>
        <script>
          $(document).ready(function() {
            $('#tabs input[type=checkbox]').prop('checked',false);
            $('#tabs input[type=text]').attr('disabled',false);

            $.ajaxSetup({
              beforeSend: function(jqXHR) {
                jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
              }
            });


            $(document).on('click', '.someclass', function(evt) {
              evt.preventDefault();
              var $self = $(this);
              var isRejected = !confirm('Are you sure you want to delete this room from your quote?');
              if(isRejected) {
                return false;
              }
              var data = $(this).data();
              var url = data.url;
              $.ajax(url, { dataType: 'json', type: 'PUT'}).success(function(data) {
                if(data.count === 0)
                  window.location.href = '/rcadmin/quote/category';
                else 
                  removeTab($self);
              });
            });

            $('.delete-tab').hover(function() {
              $(this).find('span').addClass('someclass');
            }, function() {
              $(this).find('span').removeClass('someclass');
            });

            function removeTab($tab) {
              var tabId = $tab.siblings('a').attr('href');
              $(tabId).remove();
              $tab.parents('li').remove();
              $('.delete-tab a').first().click();
              $("#total_price").text(total_price_calculator());
            }

          });
        </script>

