<style>
  .someclass {
    background: url('<%= image_path('delete.png') %>');
    width: 14px;
    height: 14px;
    position: relative;
    left: 85%;
    top: -20%;
    display: block;
  }

  span.search-controls {
    position: fixed;
    top: 0;
    left: 45%;
    z-index: 100000;
    display: none;
  }
</style>

<span class="search-controls">
  <button class="btn search-prev">Prev</button>
  <button class="btn search-next">Next</button>
  <button class="btn search-cancel">Cancel</button>
</span>

<%= render 'search_product' %>

<%= form_tag("send_quote", method: "post", :id=>"send_quote_frm") do %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#cabinet" data-toggle="tab">Cabinets</a></li>
    <li><a href="#laminate" data-toggle="tab">Laminate Tops</a></li>
  </ul>

  <div class="tab-content">


    <% [:cabinet, :laminate].each_with_index do |product_type, index| %>
      <% product_association = "#{product_type}_products".to_sym %>

      <div class="tab-pane <%= 'active' if index.zero? %>" id="<%= product_type %>">


        <div class="subtabs" class="tabs-bottom">


          <% @quote.quote_categories.includes(:category).each_with_index do |quote_category, index| %>
            <% room = quote_category.category %>

            <div id="subtabs-<%= "#{product_type}-#{index}" %>">
              <a href="#" class="expand">Expand All</a>
              <a href="#" data-id="<%= room.id %>"  data-toggle="modal" data-target="#live-data">Base Calculator</a>
              <input type="text" name="quote[quote_categories_attributes][<%= index %>][markup]" value="" placeholder="Margin Percentage" data-inputmask="'mask':'99.9'" class="markup-factor mask" data-category-id="<%= room.id %>" />
              <input type="hidden" name="quote[quote_categories_attributes][<%= index %>][id]" value="<%= quote_category.id %>" />

              <div id="accordion" class="accordion">
                <h3>MISCS <a href="#" data-product-type="<%= product_type %>" class="show-misc-modal">Add Misc Product </a></h3>
                <div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Enter Qty.</th>
                        <th></th>
                        <th>Title</th>
                        <th>Price per unit</th>
                        <th>Measure Type</th>
                        <th>Total Price</th>
                        <th>Option</th>
                        <th>Hide</th>
                      </tr>
                    </thead>
                    <tbody class="misc-products-<%= "#{product_type}-#{room.id}" %>">
                      <%= render partial: 'rcadmin/quote/misc_product',
                        collection: @quote.send("misc_#{product_association}".to_sym), as: :product, locals: {cat: room, product_type: product_type} %>
                    </tbody>
                  </table>
                </div>

                <% Rcadmin::Subcategory.joins(product_association).includes(product_association).order(:id).uniq(:id).each_with_index do |subcat, index|%>
                  <h3><%= subcat.name %></h3>
                  <div>
                    <% @products = subcat.send(product_association) %>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Enter Qty.</th>
                          <th></th>
                          <th>Title</th>
                          <th>Price per unit</th>
                          <th>Measure Type</th>
                          <th>Total Price</th>
                          <th>Option</th>
                          <th>Hide</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%= render partial: 'rcadmin/quote/misc_product',
                          collection: @products, as: :product, locals: {cat: room, product_type: product_type} %>

                      </tbody>
                    </table>
                  </div>
                <% end %>

              </div>
            </div>
          <% end %>

          <div>
            <ul class="tabs">
              <% @categories.each_with_index do |room, index|%>
                <li class="delete-tab">
                  <a href="#subtabs-<%= "#{product_type}-#{index}" %>"><%= room.name %></a>
                  <%= content_tag :span, "", data: { url: rcadmin_remove_quote_category_path(@quote, room) } %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
        <p class="text-center">
          <%= "#{product_type}".titlecase.pluralize %> Total: $<span id="<%= product_type %>-total">0.00</span>
        </p>
      </div>
    <% end %>
  </div>
  <%= render 'extra_info' %>
<% end %>

<%= render 'rcadmin/quote/new_misc_product' %>



<script>
  $(function() {

    // fix the classes
    $( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
    .removeClass( "ui-corner-all ui-corner-top" )
    .addClass( "ui-corner-bottom" );

    // move the nav to the bottom
    $( ".tabs-bottom .ui-tabs-nav" ).appendTo( ".tabs-bottom" );
  });
</script>
<style>
  /* force a height so the tabs don't jump as content height changes */
.subtabs .tabs-spacer { float: left; height: 200px; }
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
.tab-sec-last{bottom: 46px;position: absolute;width: 99.5%;}
.accordion .ui-accordion-content{height:auto !important;}
</style>
<script>
  $(document).ready(function() {
    $('#tabs input[type=checkbox]').prop('checked',false);
    $('#tabs input[type=text]').attr('disabled',false);

    $.ajaxSetup({
      beforeSend: function(jqXHR) {
        jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      }
    });


    $(document).on('click', '.someclass', function(evt) {
      evt.preventDefault();
      var $self = $(this);
      var isRejected = !confirm('Are you sure you want to delete this room from your quote?');
      if(isRejected) {
        return false;
      }
      var data = $(this).data();
      var url = data.url;
      $.ajax(url, { dataType: 'json', type: 'PUT'}).success(function(data) {
        if(data.count === 0)
          window.location.href = '/rcadmin/quote/category';
        else 
          removeTab($self);
      });
    });

    $('.delete-tab').hover(function() {
      $(this).find('span').addClass('someclass');
    }, function() {
      $(this).find('span').removeClass('someclass');
    });

    function removeTab($tab) {
      var tabId = $tab.siblings('a').attr('href');
      $(tabId).remove();
      $tab.parents('li').remove();
      $('.delete-tab a').first().click();
      $("#total_price").text(total_price_calculator());
    }

  });
</script>

