<div class="row" id="quoter">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cabinet</td>
          <td class="cabinet-total"></td>
        </tr>
        <tr>
          <td>Laminate tops</td>
          <td class="laminate-tops-total"></td>
        </tr>
        <tr>
          <td>Product total</td>
          <td class="product-total"></td>
        </tr>
        <tr>
          <td><span class="quote-percentage"><%= @quote.percentage %></span>%</td>
          <td class="percentage-total"></td>
        </tr>
        <tr>
          <td>Factor(<span class="quote-factor"><%= @quote.factor %></span>)</td>
          <td >
            <input type=text" value="<%= @quote.factor || 1.0 %>" name="quote[miscs][factor]" class="factor-total form-control" />
          <span class="factor-calculated-value"><%= @quote.factor_value %></span>
          </td>
        </tr>
        <tr>
          <td>Corian</td>
          <td><input type="text" class="corian-total form-control" value="0.0" name="quote[miscs][corian]"/></td>
        </tr>
        <tr class="misc-td">
          <td>MISC</td>
          <td class="misc-total"></td>
        </tr>
        <tr>
          <td>Misc Item</td>
          <td>
            <input type="text" value="" placeholder="Enter field name" class="misc-field-name form-control" />
            <a href="#" class="create-field">Create</a>
          </td>
        </tr>
        <tr>
          <td>Pre Tax</td>
          <td class="pre-tax-total"></td>
        </tr>
        <tr>
          <td>Tax <span class="quote-tax-percentage"><%= @quote.tax_percentage %></span>%</td>
          <td class="tax-total"></td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td class="subtotal-total"></td>
        </tr>
        <tr>
          <td>Labor</td>
          <td><input type="text" class="labor-total form-control" name="quote[miscs][labor]"/></td>
        </tr>
        <tr>
          <td>Delivery</td>
          <td class="delivery-total"></td>
        </tr>
        <tr>
          <td>Total</td>
          <td class="grand-total"></td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
