<div id="page-heading">
  <ol class="breadcrumb">
    <li><%=link_to "Quotes",rcadmin_display_quotes_path%></li>
  </ol>

  <h1>COVER SHEET</h1>
</div>
<%if flash[:notice] %>
  <div class="alert alert-dismissable alert-success">
    <strong>Well done!</strong> <%=flash[:notice]%>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
<%end%>

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-sky">
        <div class="panel-heading">

          <h4>Cover Sheet</h4>
        </div>

        <div class="panel-body collapse in">
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="example">

            <div class="form-group">
              <label class="col-sm-3 control-label">Customer</label>
              <%= @customer %>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Address</label>
              <%= @customer.full_address %>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">City/State</label>
              <%= "#{@customer.city} / #{@customer.state}" %>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Phone</label>
              <%= @customer.phone %>
            </div>



      </table>  

      <div class="form-group">
        <h4><label class="col-sm-3 control-label"></label></h4>
      </div>

      <div>

        <table id="example" class="table table-striped table-bordered datatables dataTable">

          <% @quote_products_sum.each_pair do |category_id, total_price| %>
            <% category = @categories.detect { |category| category.id === category_id } %>
            <tr>
              <td><%= category.name %></td>
              <td>&nbsp;</td>
              <td>$ <%= total_price %></td>
            </tr>
          <% end %>

          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>CABINET</td>
            <td>$ <%= @quote_products_sum.values.sum %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>LAMINATE TOPS</td>
            <td>$ <%= 00 %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>CORIAN</td>
            <td>$ <%= 00 %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>PRODUCTION TOTAL</td>
            <td>$ <%= @quote_products_sum.values.sum %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>KEY59%</td>
            <td>$ <%= key59 = @quote_products_sum.values.sum / 100 * 50 %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>FACTOR</td>
            <td>$ (<%= factor = ( 100 / 1.2 ).round(2) %>)</td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>PRE TAX</td>
            <td>$ <%= pre_tax = (key59 - factor).round(2) %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>TAX 8.0%</td>
            <td>$ <%=  tax = (pre_tax / 100 * 8.0).round(2) %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>SUB TOTAL</td>
            <td>$ <%=  total = (pre_tax + tax).round(2) %></td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>DELIVERY</td>
            <td>$ 150</td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>

          <tr>
            <td>&nbsp;</td>
            <td>TOTAL</td>
            <td>$ <%=  total %></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
</div>


