<div id="page-heading">
  <ol class="breadcrumb">
    <li><%=link_to "Quote",rcadmin_display_quotes_path%></li>
  </ol>

  <h1>Docs</h1>
</div>
<%if flash[:notice] %>
  <div class="alert alert-dismissable alert-success">
    <strong>Well done!</strong> <%=flash[:notice]%>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
<%end%>

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-sky">
        <div class="panel-heading">

          <h4>Docs</h4>
          <div class="options">
          </div>
        </div>

        <div class="panel-body collapse in">
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="example">
            <tbody>
              <tr class="odd gradeC">
                <td>Service Work Order</td>
                <td>2.12.2014</td>
                <td><a href="<%= print_templates_rcadmin_quote_path(@quote, 1) %>" class="btn btn-primary">Print</a></td>
              </tr>
              <tr class="even gradeC">
                <td>Turn-in Checklist</td>
                <td>2.12.2014</td>
                <td><a href="<%= print_templates_rcadmin_quote_path(@quote, 2) %>" class="btn btn-primary">Print</a></td>
              </tr>
              <tr class="odd gradeC">
                <td>Credit Card Payment Form</td>
                <td>2.12.2014</td>
                <td><a href="<%= print_templates_rcadmin_quote_path(@quote, 3) %>" class="btn btn-primary">Print</a></td>
              </tr>
              <tr class="even gradeC">
                <td> Purchase Agreement</td>
                <td>2.12.2014</td>
                <td><a href="<%= print_templates_rcadmin_quote_path(@quote, 4) %>" class="btn btn-primary">Print</a></td>
              </tr>
              <tr class="odd gradeC">
                <td> Service Order</td>
                <td>2.12.2014</td>
                <td><a href="<%= print_templates_rcadmin_quote_path(@quote, 9) %>" class="btn btn-primary">Print</a></td>
              </tr>
              <tr class="even gradeC">
                <td>Cabinet Drawing</td>
                <td>2.12.2014</td>
                <td><a href="<%= print_templates_rcadmin_quote_path(@quote, 8) %>" class="btn btn-primary">Print</a></td>
              </tr>
              <tr class="odd gradeC">
                <td>Change Order</td>
                <td>2.12.2014</td>
                <td><a href="<%= print_templates_rcadmin_quote_path(@quote, 7) %>" class="btn btn-primary">Print</a></td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>

  </div>

</div> <!-- container -->
