<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @rcadmin_contractor.admin_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @rcadmin_contractor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @rcadmin_contractor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rcadmin_contractor.email %>
</p>

<p>
  <strong>State:</strong>
  <%= @rcadmin_contractor.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @rcadmin_contractor.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rcadmin_contractor.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @rcadmin_contractor.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rcadmin_contractor.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rcadmin_contractor.status %>
</p>

<%= link_to 'Edit', edit_rcadmin_contractor_path(@rcadmin_contractor) %> |
<%= link_to 'Back', rcadmin_contractors_path %>
