<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rcadmin_cabinet_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rcadmin_cabinet_type.status %>
</p>

<%= link_to 'Edit', edit_rcadmin_cabinet_type_path(@rcadmin_cabinet_type) %> |
<%= link_to 'Back', rcadmin_cabinet_types_path %>
