		<div class="container">


			<%= form_for(@rcadmin_category,:html=>{:class=>"form-horizontal row-border"})  do |f| %>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-orange">
						<div class="panel-heading">
							<h4><%if @rcadmin_category.id.nil? %>Add<%else%>Edit<%end%> Category</h4>
							<div class="options">
						
							</div>
						</div><br>
						<%if @rcadmin_category.errors.any? %>
						<div class="alert alert-dismissable alert-danger">
								<%=@rcadmin_category.errors.full_messages[0] %>.
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							</div>

						<%end%>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Name</label>
							                <div class="col-sm-6">
												<%= f.text_field :name ,:class=>"form-control",:placeholder=>"Category Name"%>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Description</label>
							                <div class="col-sm-6">
												<%= f.text_area :description ,:class=>"form-control",:placeholder=>"Category Description"%>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Status</label>
							                <div class="col-sm-6">
												<%= select(:rcadmin_category, :status, [['Active', 0], ['Inactive', 1]], {}, {:class => 'form-control'}) %>
							                </div>
							            </div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
				      	<div class="row">
				      		<div class="col-sm-6 col-sm-offset-3">
				      			<div class="btn-toolbar">
									<%if @rcadmin_category.id.nil? %>
										<%= f.submit "Add Category" ,:class=>"btn-primary btn"%>
									<%else%>
										<%= f.submit "Update Category" ,:class=>"btn-primary btn"%>
									<%end%>
									<%=link_to "Back",rcadmin_categories_path,:class=>"btn-default btn"%>
				      			</div>
				      		</div>
				      	</div>
				      </div>
					</div>
				</div>
			</div>
		</div>
		<%end%>
