<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rcadmin_countertop_design.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rcadmin_countertop_design.status %>
</p>

<%= link_to 'Edit', edit_rcadmin_countertop_design_path(@rcadmin_countertop_design) %> |
<%= link_to 'Back', rcadmin_countertop_designs_path %>
