		<div class="container">


			<%= form_for(@rcadmin_dimension,:html=>{:class=>"form-horizontal row-border"})  do |f| %>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-orange">
						<div class="panel-heading">
							<h4><%if @rcadmin_dimension.id.nil? %>Add<%else%>Edit<%end%> Dimension</h4>
							<div class="options">
						
							</div>
						</div><br>
						<%if @rcadmin_dimension.errors.any? %>
						<div class="alert alert-dismissable alert-danger">
								<%=@rcadmin_dimension.errors.full_messages[0] %>.
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							</div>

						<%end%>
						<div class="panel-body">
							<div class="row">
							
								<div class="col-md-12">
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Type</label>
							                <div class="col-sm-6">
												<%= select_tag(["category_type"],options_for_select([['Upper Cabintes', 'upper_cabintes'], ['Base Cabintes', 'base_cabintes']]), {:class => 'form-control'}) %>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Dimension Category Name</label>
							                <div class="col-sm-6">
												<%= select_tag("rcadmin_dimension[dimension_category_id]",options_from_collection_for_select(@rcadmin_dimension_categories, 'id', 'name'), {:class => 'form-control'}) %>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Lower Range</label>
							                <div class="col-sm-6">
												<%= f.text_field :lower_range ,:class=>"form-control",:placeholder=>"Category Name"%>
							                </div>
							            </div>
							            <div class="form-group">
							                <label class="col-sm-3 control-label">Upper Range</label>
							                <div class="col-sm-6">
												<%= f.text_field :upper_range ,:class=>"form-control",:placeholder=>"Category Name"%>
							                </div>
							            </div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
				      	<div class="row">
				      		<div class="col-sm-6 col-sm-offset-3">
				      			<div class="btn-toolbar">
									<%if @rcadmin_dimension.id.nil? %>
										<%= f.submit "Add Dimension" ,:class=>"btn-primary btn"%>
									<%else%>
										<%= f.submit "Update Dimension" ,:class=>"btn-primary btn"%>
									<%end%>
									<%=link_to "Back",rcadmin_dimensions_path,:class=>"btn-default btn"%>
				      			</div>
				      		</div>
				      	</div>
				      </div>
					</div>
				</div>
			</div>
		</div>
		<%end%>
