<p id="notice"><%= notice %></p>

<p>
  <strong>Dimension categotry:</strong>
  <%= @rcadmin_dimension.dimension_categotry_id %>
</p>

<p>
  <strong>Lower limit:</strong>
  <%= @rcadmin_dimension.lower_limit %>
</p>

<p>
  <strong>Upper limit:</strong>
  <%= @rcadmin_dimension.upper_limit %>
</p>

<%= link_to 'Edit', edit_rcadmin_dimension_path(@rcadmin_dimension) %> |
<%= link_to 'Back', rcadmin_dimensions_path %>
