<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">

	  <a class="brand" href="/"><%=image_tag('logo-big.png')%></a>
	  <div class="nav-collapse collapse">
		<ul class="nav">
		  <li class="active"><a href="/">Home</a></li>
		  <li><%= link_to "About", "/aboutus" %></li>
		  <li><%= link_to "Contact", "/contactus" %></li>
		  <li><%= link_to "Help/Faq", "/help",:target =>"balnk" %></li>
		  <li><%= link_to "Quick Quote", "/quick_quote" %></li>
		  <li><a href="#contact">Search</a></li>
		  
		</ul>
		<a href="/mycart" class="navbar-form pull-right btn btn-warning">
			<i class="fa fa-shopping-cart"></i>
			 &nbsp;My Cart (<%if !session[:cart_size].blank? %><%=session[:cart_size]%><%else%>0<%end%>)
		</a>

	  </div><!--/.nav-collapse -->
	</div>
  </div>
</div>
