<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<%if session[:first_name]%>
		<a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
		<a id="rightmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="left" title="Toggle Infobar"></a>
	<%end%>

	<div class="navbar-header pull-left">
		<a class="navbar-brand" href="/">Avant</a>
	</div>
	<%if session[:first_name]%>
	<ul class="nav navbar-nav pull-right toolbar">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle username" data-toggle="dropdown"><span class="hidden-xs"><%=session[:first_name]%> <%=session[:last_name]%><i class="fa fa-caret-down"></i></span><%=image_tag('demo/avatar/dangerfield.png',:alt=>"Dangerfield")%></a>
			<ul class="dropdown-menu userinfo arrow">
				<li class="username">
					<a href="#">
						<div class="pull-left"><%=image_tag('demo/avatar/dangerfield.png',:class=>"userimg",:alt=>"Jeff Dangerfield")%></div>
						<div class="pull-right"><h5><%=session[:username]%></h5><small>Logged in as <br><span><%=session[:email]%></span></small></div>
					</a>
				</li>
				<li class="userlinks">
					<ul class="dropdown-menu">
						<li><a href="/rcadmin/administrators/<%=session[:admin_id]%>/edit">Edit Profile <i class="pull-right fa fa-pencil"></i></a></li>
						<li><a href="#">Account <i class="pull-right fa fa-cog"></i></a></li>
						<li><a href="#">Help <i class="pull-right fa fa-question-circle"></i></a></li>
						<li class="divider"></li>
						<%= link_to "Sign Out", destroy_admin_session_path,:method => :delete,:class=>"text-right" %>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<%end%>
</header>
