<nav id="page-leftbar" role="navigation">
  <!-- BEGIN SIDEBAR MENU -->
  <ul class="acc-menu" id="sidebar">

    <li class="divider"></li>
    <li><a href="/rcadmin/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <%if current_user.role == 'admin'%>
      <li><a href="javascript:;"><i class="fa fa-user"></i> <span>Administrator</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Administrator",rcadmin_administrators_path%></li>
          <li><%=link_to "Login Logs",rcadmin_login_logs_path%></li>
        </ul>
      </li>
      <li><a href="javascript:;"><i class="fa fa-group"></i> <span>Contractors</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Contractor List",rcadmin_contractors_path%></li>
          <li><%=link_to "Create Contractor",new_rcadmin_contractor_path%></li>
        </ul>
      </li>
      <li><a href="javascript:;"><i class="fa fa-star"></i> <span>Cabinet</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Cabinet Selections",rcadmin_cabinet_types_path%></li>
        </ul>
      </li>
      <li><a href="javascript:;"><i class="fa fa-adjust"></i> <span>Countertop Design</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Countertop Design",rcadmin_countertop_designs_path%></li>
        </ul>
      </li>
      <li><a href="javascript:;"><i class="fa fa-cog"></i> <span>Category</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Category",rcadmin_categories_path%></li>
        </ul>
      </li>
      <li><a href="javascript:;"><i class="fa fa-certificate"></i> <span>Product Type</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Product Type",rcadmin_subcategories_path%></li>
        </ul>
      </li>
      <li><a href="javascript:;"><i class="fa fa-globe"></i> <span>Product</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Product",rcadmin_products_path%></li>
        </ul>
      </li>
      <li><a href="javascript:;"><i class="fa fa-wrench"></i> <span>General Setting</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Admin Settings", settings_path %></li>
          <li><%=link_to "Manage Static Page",rcadmin_static_pages_path%></li>
          <li><%=link_to "Manage Faq Category",rcadmin_faq_categories_path%></li>
          <li><%=link_to "Manage Faq",rcadmin_faqs_path%></li>
          <li><%=link_to "Support Emails",rcadmin_email_templates_path%></li>
        </ul>
      </li>
    <%else%>

      <li>
        <a href="javascript:;"><i class="fa fa-group"></i><span>Customers</span></a>
        <ul class="acc-menu">
          <li><%= link_to "Contractors", rcadmin_contractors_path %></li>
          <li><%= link_to "Retail", rcadmin_display_quotes_path(id: current_admin.retail)  %></li>
        </ul>
      </li>

      <!--
      <li><a href="javascript:;"><i class="fa fa-group"></i><span>Contractors</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Contractor List",rcadmin_contractors_path%></li>
          <li><%=link_to "Create Contractor",new_rcadmin_contractor_path%></li>
          <li><%=link_to "Customer List",rcadmin_customers_path%></li>
          <li><%=link_to "Create Customer",new_rcadmin_customer_path%></li>
        </ul>
      </li>

      <li><a href="javascript:;"><i class="fa fa-group"></i> <span>Quotes</span></a>
        <ul class="acc-menu">
          <li><%=link_to "Quotations", rcadmin_quotations_path %></li>
        </ul>
      </li>

      -->

      <li>
        <%=link_to(create_quote_path) do %>
          <i class="fa fa-book"></i> <span>Create a Quote</span>
        <% end %>
      </li>
    <%end%>

  </ul>
  <!-- END SIDEBAR MENU -->
</nav>
